body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}



/**********************************************************************************************
* Angular animate styles *
**********************************************************************************************/
#ng-view {
position: relative;
}

.slide-animation.ng-enter, .slide-animation.ng-leave {
transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
position: absolute;
left: 0;
right: 0;
min-height: 1000px;
-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
-moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
-o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.slide-animation.ng-enter {
opacity: 0;
left: 100px;
}

.slide-animation.ng-enter.ng-enter-active {
left: 0;
opacity: 1;
}

.slide-animation.ng-leave {
left: 0;
opacity: 1;
}

.slide-animation.ng-leave.ng-leave-active {
left: 0;
opacity: 0;
}

body {
  -webkit-perspective: 400px;
}


div.container.slide-animation {
  -webkit-transition: 1.5s;
}
div.container.slide-animation:hover {
  transform: rotate3d(-1, 0, 0, 15deg);
  -webkit-transform: rotate3d(-1, 0, 0, 15deg);
}

